.hobi,
.bio,
.galeri{
    width: 960px;
    background-image: url(https://i.pinimg.com/736x/3b/ed/3d/3bed3d6f02d3ae8638b6aa634ed70977.jpg);
    border-style: solid;
    background-size: cover;
    border-width: 1px;
}
a{
    text-decoration: none;
    font-family: 'Roboto';
    color: white;
}
p{
    text-decoration: none;
    font-family: 'Roboto';
    color: white;
}
td{
    color: white;
}
th{
    background-color: white;
    border-style: none;
    height: 30px;
}
.pala{
    color: white;
}
.pala{
    margin-top: -5px;
}
.navigation{
    background-color: rgb(206,135,145);
}
.nav{
    display: flex;
    width: 500px;
    justify-content: space-between;
}
.home,
.hobby,
.gallery{
    color: white;
    transition: 0.3s;
}
.home:hover,
.hobby:hover,
.gallery:hover{
    color: gray;
}
.content{
    margin-top: 50px;
    margin-bottom: 50px;
    height: 500px;
}
.contenthobby{
    margin-top: 50px;
    margin-bottom: 50px;
    height: 500px;
    margin-left: 30px;
    margin-right: 30px;
}
.result,
.why{
    color: white;
}
.photos{
    margin-top: 40px;
    width: 750px;
    display: flex;
    justify-content: space-between;
}
.photo1,
.photo2,
.photo3{
    height: 300px;
    transition: 0.3s;
}
.photo1:hover,
.photo2:hover,
.photo3:hover{
    height: 310px;
    cursor: pointer;
}
.table{
    font-size: 20px;
    font-family: 'Roboto';
    border-color: white;
}
.footer{
    background-color: rgb(206,135,145);
    height: 50px;
    border-style: solid;
    border-color: rgb(206,135,145);
    border-bottom: 1px;
    border-width: 1px;
}
.grid{
    margin-top: 50px;
    height: 450px;
    width: 750px;
}
.pic1,
.pic2,
.pic3{
    height: 150px;
    transition: 0.3s;
}
.pic1:hover,
.pic2:hover,
.pic3:hover{
    height: 175px;
    cursor: pointer;
}
.gtext{
    font-family: 'Roboto';
    margin-top: 50px;
}
.time{
    background-color: transparent;
    border-style: none;
    font-family: 'Roboto';
    font-size: 15px;
    width: 57px;
    color: white;
}
.waktu{
    display: flex;
    width: 930px;
    justify-content: space-between;
    margin-top: 10px;
    color: white;
}
.hari{
    font-family: 'roboto';
}
.pp{
    width: 120px;
    height: 120px;
    border-radius: 70px;
    transition: 0.3s;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    margin-bottom: 50px;
}
img{
    border-color: white;
    border-style: solid;
    border-radius: 10px;
}