a{
  text-decoration: none;
}
p {
  font-family: Jua, Arial;
}
body{
  height: 1080px;
  width: 1920px;
  background-size: cover;
  margin: 0px;
}
.all{
  margin: 0px;
}
.left{
  width: 100%;
  max-width: 1300px;
  margin-left: 150px;
}
.gambar{
  width: 230px;
  height: 230px;
  position: static;
}
.head{
  display: flex;
  width: 752px;
  height: 230px;
  padding-top: 80px;
}
.profile{
  width: 230px;
  height: 230px;
  border-radius: 200px;
  border-style: solid;
  border-color: white;
  border-width: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
.teks{
  margin-left: 50px;
}
.nama{
  font-size: 96px;
  margin-top: 30px;
  margin-bottom: 0px;
  color: white;
  line-height: 120px;
}
.bio{
  margin: 0;
  color: white;
  width: 200px;
  height: 38px;
  font-family: 'Jua';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 38px;
}

.desc{
  width: 641px;
  position: relative;
  margin-top: -450px;
  align-items: center;
  margin-left: 13%;
  margin-left: 40px;
}
.hello{
  color: white;
  font-family: Just Another Hand;
  font-size: 80px;
  margin: 0px;
  margin-top: 0px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-left: 320px;
  padding-right: 180px;
  float: right;
}
.fulldesc{
  color: white;
  align-items: center;
  width: 430px;
  margin-top: 55px;
  margin-left: 110px;
  margin-right: 50px;
  padding-bottom: 45px;
  font-size: 40px;
  font-family: Just Another Hand;
}
.rectangle{
  width: 641px;
  margin-left: 40px;
}
.descbox{
  margin-top: 25px;
  padding-bottom: 20px;
  width: 641px;
  margin-left: 40px;
}
.sirkel{
  margin-top: -1000px;
}
.gbutton{
  display: flex;
  margin-left: 80px;
  align-items: center;
}
.getintouch{
  width: 200px;
  height: 55px;
  background: #6187C3;
  border-radius: 100px;
  border-style: none;
  font-family: 'Manjari';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: white;
}
.link1{
  display: flex;
  margin-bottom: 45px;
  margin-left: 80px;
  width: 641px;
  justify-content: space-between;
}
.link2{
  display: flex;
  margin-left: 80px;
  width: 641px;
  justify-content: space-between;
}
.ltr{
  width:641px;
  margin-bottom:45px;
  margin-left: 80px;
  border-radius: 25px;
  border-style: none;
  height: 60px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-family: 'Jua';
  font-size: 20px;
  transition: 0.3s;
}
.ltr:hover{
  background-color: gray;
  color: white;
  cursor: pointer;
  border-radius: 15px;
}
.igbutton,
.xbutton,
.ytbutton,
.git{
  width: 295px;
  height: 70px;
  border-radius: 30px;
  border-style: none;
  background-color: #6187C3;
  color: white;
  font-family: 'Jua';
  font-size: 20px;
  transition: 0.3s;
}
.igbutton:hover,
.xbutton:hover,
.ytbutton:hover,
.git:hover{
  background-color: #365586;
  cursor: pointer;
  border-radius: 20px;
}